form {

    label,
    input,
    
    textarea {
        display: block;
        margin-bottom: 10px;
        font-size: 3rem;
        color: $color-secondary;
        width: 100%;
    }

    button {
        padding: 10px;
        background-color: $color-laranja;
        color: $font-color-primary;
        border: none;
        cursor: pointer;
        font-size: 2rem;
    }

    button:hover {
        background-color: $color-branca;
        color: $font-color-secondary;
    }

    input {
        height: 40px;
    }

 

}